body {
	text-align: center;
	font-family: "Courier-New";
	color: #040275;
}

h1 {
	margin: 10px;
}

.enter {
	border: solid gray;
	border-radius: 10px;
	background-color: #e2c9ff;
	padding: 10px;
	margin: 5px;
	text-align: left;
}

.purchase {
	border: solid gray;
	border-radius: 10px;
	background-color: #ffc8b0;
	padding: 10px;
	margin: 5px;
	text-align: left;
}

.subhead {
	margin: 10px;
	font-size: 25px;
}

input {
	margin: 5px;
}

.textbox {
	border-radius: 15px;
	padding: 5px;
}

button {
	border: solid gray;
	background-color: blue;
	color: white;
	padding: 10px;
	margin: 10px;
}
